*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;

    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
background-color: white;
}
.container{
    width: 100%;   
    padding: 2%;
    margin-bottom: 30px;
   
}

h1{
    font-size: 35px;

}
main{
    margin: 2.7%;
}


.container :nth-child(1){
    box-shadow: 0 0 5px rgba(0,0,0,0.3)

}
.back{
    padding: 7px 22px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3) ;
    margin-left: 3%;
   
}
a{
    text-decoration: none;
    color: inherit;
}

.countrydetails{
    margin-top: 60px;
    display: flex;
    align-items: center;
     gap: 64px; 
}

.countrydetails img{
    width: 37%;
    border: 1px solid #ddd;

}
.ice{
    padding: 1%;
    margin: 15px;
}


.detailstext{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
column-gap: 64px;
    max-height: 170px;
    flex-wrap: wrap;
}

@media(max-width: 800px){
    .countrydetails{
        flex-direction: column;   
        align-items: flex-start; 
        margin-top: 30px;
        margin-left: 10px;
        gap: 16px;
    }
    .detailstext{
        display: block;
        max-height:unset ;
    }
.detailstext p{
    margin: 16px;
}
.countrydetails img{
    width: 90%;
}

}
