*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
body{
    width: 100%;
    min-height: 100vh;
background-color: white;
}
.container{
    width: 100%;
    display: flex;
    padding: 2%;
    justify-content: space-between;  }

button{
    outline: none;
    border: 0;
    background: transparent;
}

.toggle{
    font-size: 22px;
    cursor: pointer;

}

.toggle i{
    padding-right: 5px;
}

.container :nth-child(1){
    box-shadow: 0 0 5px rgba(0,0,0,0.3)

}
.form{
    width: 37vw;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
     /* position: absolute;  */
     position: relative;
      
    overflow: hidden;
    cursor: pointer;
}
.form input{
    width: 90%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 15px;
    letter-spacing: 0.2px;
}
.form i{
    top: 1rem; 
    right: 1rem;
    position: absolute;

}
.countries-container{
    max-width: 1200px;
    margin-inline: auto;
     display: flex; 
     gap: 64px;
     flex-wrap: wrap;
     justify-content: space-between; 

}
.country{
    display: inline-block;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    

}
.country img{
    width: 100%;
}
.card{
    padding-inline: 3%;
    padding-bottom: 2%; 
}
p{
    margin-block: 1.9%;
}
a{
    text-decoration: none;
    color: inherit;
}
.country:hover{
    transform: scale(1.2);
    box-shadow: 0 0 16px 0px rgba(0,0,0,0.3) ;
}
main{
    margin: 2.0%;
}


@media(max-width: 768px){
    .countries-container{
        justify-content: center;
    }
    .form input{
font-size: 13px;
letter-spacing: 0.1px;
    }
}
    



